* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

#iconeCerebro {
    width: 80px;
    height: 80px;
    margin-left: -890px;
}

#h1Quebra {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #00f;
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

#h1Melao {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #000;
    display: block;
    float: left;
    margin-top: 15px;
}

.bolinhaQuestao {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #00f;
    color: #f7f7f7;
    display: block;
    float: left;
    margin-top: 100px;
    margin-left: -220px;

}

.numQuestao {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: #f7f7f7;
    text-align: center;
    margin-top: 10px;
}

.pergunta {
    width: 73%;
    height: 90px;
    display: block;
    float: left;
    margin-top: 100px;
    margin-left: -91px;
    border-radius: 8px;
    padding: 10px;
}

.txtPergunta {
    color: #00f;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.alternativas {
    width: 80%;
    height: 290px;
    margin-top: 50px;
    margin-left: 155px;
    display: block;
    float: left;
    
}

a {
    text-decoration: none;
}

p {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f7f7f7;
}

.alternativa1 {
    width: 480px;
    height: 100px;
    background-color: #00f;
    color: #ffffff;
    border: solid 3px #000;
    margin: 20px;
    display: block;
    float: left;
    padding: 10px;
    box-shadow: 8px 8px 12px #777;
}

.alternativa2 {
    width: 480px;
    height: 100px;
    background-color: #00f;
    border: solid 3px #000;
    margin: 20px;
    display: block;
    float: left;
    padding: 8px;
    box-shadow: 8px 8px 12px #777;
}

.alternativa3 {
    width: 480px;
    height: 100px;
    background-color: #00f;
    border: solid 3px #000;
    margin: 20px;
    display: block;
    float: left;
    padding: 8px;
    box-shadow: 8px 8px 12px #777;
}

.alternativa4 {
    width: 480px;
    height: 100px;
    background-color: #00f;
    border: solid 3px #000;
    margin: 20px;
    display: block;
    float: left;
    padding: 8px;
    box-shadow: 8px 8px 12px #777;
}


