
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

#icone-bola{
    width: 95px;
    height: 89px;
    margin-left: -890px;
}

#titulo-quebra {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #00f;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

#titulo-melao {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #000;
    float: left;
    margin-top: 15px;
    margin-left: 6px;
}

.container-numero-questao {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #00f;
    color: #f7f7f7;
    float: left;
    margin-top: 100px;
    margin-left: -220px;
}

.numero-questao {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #f7f7f7;
    text-align: center;
    margin-top: 10px;
}

.container-pergunta {
    width: 73%;
    height: 90px;
    float: left;
    margin-top: 100px;
    margin-left: -91px;
    border-radius: 8px;
    padding: 10px;
}

.texto-pergunta {
    color: #00f;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-alternativas {
    width: 80%;
    margin-top: 50px;
    margin-left: 155px;
    float: left;
}

.alternativa {
    width: 480px;
    height: 100px;
    background-color: #00f;
    color: #ffffff;
    border: solid 3px #000;
    margin: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 25px; 
    text-align: center;
    padding: 10px;
    box-shadow: 8px 8px 12px #777;
    cursor: pointer;
    float: left;
    transition: background-color 0.3s;
}

.alternativa:hover {
    background-color: #0056b3;
}

.alternativa.correta {
    background-color: #28a745; /* Verde para correto */
}

.alternativa.incorreta {
    background-color: #dc3545; /* Vermelho para incorreto */
}

#botao-reiniciar {
    clear: both;
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
